@font-face {
    font-family: "Arcade";
    src: url("/fonts/ARCADE.woff2") format("woff2");
}

.app-html {
    height: 100%;
}

.app-container {
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content auto;
    grid-template-areas:
      ". header ."
      "main main main";
    height: 100%;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
}

.app-header {
    box-sizing: border-box;
    grid-area: header;
    justify-self: center;
}

.app-heading {
    margin: 0;
    font-size: calc(1.2rem + 1vh);
    font-family: 'Arcade', serif;
    font-display: swap;
    letter-spacing: 1vw;
}

.app-game {
    grid-area: main;
}

@media(min-width: 768px) and (orientation: landscape) {
    .app-heading {
        font-size: calc(3.8rem + 1vh);
    }
}
