.game {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3rem auto;
    grid-template-areas:
      "scoreboard"
      "game";
}

.game-scoreboard {
    grid-area: scoreboard;
}

.game-canvas {
    grid-area: game;
    max-width: 100vw;
    max-height: 100vh;
}

.game-pause-overlay,
.game-end-overlay {
    grid-area: game;
    z-index: 15;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: opacity 200ms linear;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255);
}

.game-pause-overlay--active,
.game-end-overlay--active {
    opacity: 1;
}

.game-end-overlay--active {
    pointer-events: auto;
}

.game-pause-overlay_header,
.game-end-overlay_header {
    font-size: calc(2.5rem + 1vh);
}

.game-pause-overlay_resume-options {
    list-style: none;
}
