.scoreboard {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "scores controls";
}

.scoreboard-scores {
    grid-area: scores;
    display: flex;
    justify-content: space-around;
}

.scoreboard-scores_header {
    font-weight: bold;
    display: block;
}

.scoreboard-controls {
    grid-area: controls;
    justify-self: end;
}

.scoreboard-settings-dialog {
    width: 84ch;
    height: 315px;
    overflow: scroll;
}

.scorebaord-settings-form_controls label {
    display: block;
}

.scoreboard-settings-dialog::backdrop,
.scoreboard-settings-dialog + .backdrop {
    background-color: rgba(0, 0, 0, .6);
}
